@import "./header";
@import "./body";
@import "./custom";
@import "./profilepicture";
@import "./hr";
@import "./animate";


body .list-group{
    margin: 10%;
}

body nav a{

    margin: 1% 1%;
}

.nav-pills > li.active > a{
    color: red;
}